@media(max-width: 700px){
    header{
        flex-direction: column;
    }
    header img {
        margin-bottom: 15px;
    }
    /*Botão*/
    a .btn{
      font-size: 12px;  
    }

    /*Hero*/
    .hero h1{
        font-size: 2.5rem;
    }
    .hero h3{
        font-size: 1.5rem;
    }
    header img{
        margin-bottom: 15px;
    }

    /*Imagem*/
    .conheça-o-hotel .grid{
        width: 40%;
        display: flex;
        flex-wrap: nowrap;
    }

    .conheça-o-hotel .grid li.small{
        flex-basis: 20%;
    }
    
    .conheça-o-hotel .grid li.large{
        flex-basis: 30%;
    }
    
}
